*{
    margin: 0;
    padding: 0;
}


#main-nav-div{
    /* height: 60px; */
    padding: 30px 45px 0 45px;
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;

    /* background-color: red; */
}

.nav-list{
    /* border: 1px solid; */
    display: flex;
    /* gap: 50px; */
}

#nav-list a{
    text-decoration: none;
    font-family: monospace;
    color: black;
    font-size: 20px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    letter-spacing: 2px;
    padding: 0 20px 0 20px;
    /* margin-left: 50px; */
}

.nav-btn span{
    font-family: monospace;
    color: white;
    /* background-color: black; */
    font-size: 15px;
    padding: 10px 15px 10px 15px;
    border: 1px solid;
    /* border-radius: 40px; */
    
}

#main-nav-div.scrolled{
    background-color: white;
    top: 0;
    position: sticky;

}
